#include "base.xcconfig"

ALIGNMENT[arch=armv7s]     = -Wl,-segalign,0x4000

OTHER_CODE_SIGN_FLAGS[sdk=*simulator*]   = --entitlements $(SRCROOT)/dyld/dyld_sim-entitlements.plist
OTHER_CODE_SIGN_FLAGS[sdk=iphoneos*]     =
OTHER_CODE_SIGN_FLAGS[sdk=macosx*]       =

PRODUCT_NAME[sdk=*simulator*] = dyld_sim
PRODUCT_NAME[sdk=iphoneos*]   = dyld
PRODUCT_NAME[sdk=macosx*]     = dyld

INSTALL_PATH   = /usr/lib

GCC_PREPROCESSOR_DEFINITIONS_Debug = DYLD_VERSION=$(RC_ProjectSourceVersion) BUILDING_DYLD=1 DEBUG=1
GCC_PREPROCESSOR_DEFINITIONS_Release = DYLD_VERSION=$(RC_ProjectSourceVersion) BUILDING_DYLD=1
GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS_$(CONFIGURATION)) $(GCC_PREPROCESSOR_DEFINITIONS_FEATURES)

ENTRY_NAME[sdk=*simulator*] = __dyld_sim_prepare
ENTRY_NAME[sdk=iphoneos*]   = __dyld_start
ENTRY_NAME[sdk=macosx*]     = __dyld_start

OTHER_LDFLAGS = -e $(ENTRY_NAME) -Wl,-exported_symbol,$(ENTRY_NAME) -Wl,-no_inits @$(DERIVED_SOURCES_DIR)/archives.txt -nostdlib -Wl,-dylinker -Wl,-dylinker_install_name,/usr/lib/dyld $(ALIGNMENT) -Wl,-fixup_chains -Wl,-data_const -fapple-link-rtlib
