#include "base.xcconfig"

INSTALL_PATH                = /usr/local/lib
EXECUTABLE_NAME             = libdyld_introspection.a
GENERATE_MASTER_OBJECT_FILE = YES
GCC_SYMBOLS_PRIVATE_EXTERN  = YES

SKIP_INSTALL_Release        = NO
SKIP_INSTALL_Debug          = YES
SKIP_INSTALL                = $(SKIP_INSTALL_$(CONFIGURATION))

GCC_PREPROCESSOR_DEFINITIONS_Release    =
GCC_PREPROCESSOR_DEFINITIONS_Debug      =  DEBUG=1
GCC_PREPROCESSOR_DEFINITIONS            = $(GCC_PREPROCESSOR_DEFINITIONS_$(CONFIGURATION)) _LIBCPP_NO_EXCEPTIONS=1 BUILDING_LIBDYLD_INTROSPECTION_STATIC=1

PRELINK_FLAGS = -no_inits -exported_symbol _dyld_*

