Language:        Cpp
BasedOnStyle:  WebKit

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands:  false
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: Inline
AlignAfterOpenBracket: Align

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass:      true
  AfterControlStatement: false
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  false
  AfterStruct:     true
  AfterUnion:      true
  BeforeElse:      true
  IndentBraces:    false
ColumnLimit: 0
IncludeBlocks: Preserve
IndentPPDirectives: BeforeHash
IndentWidth:     4
IndentCaseLabels: true
PointerAlignment: Left
SpacesInConditionalStatement: true
Standard:        Cpp11

UseTab:          Never

SortIncludes: false

